<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login denied</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url('https://www.apple.com/ac/structured-data/images/open_graph_logo.png?201810270943');">
<div class="card" style="width: 20rem; margin: 5rem">
    <div class="card-header text-white bg-secondary">
        <h4 class="card-title">Register</h4>
    </div>
    <div class="card-body">
        <!--/*@thymesVar id="dtoBookingPerson" type="com.meiit.webalk.aci3x3.web.dtos.DTOBookingPersonRest"*/-->
        <form th:action="@{/register}" th:object="${dtoBookingPerson}" method="post" class="form-group">
            <p>Email: <input type="text" th:field="*{email}" class="form-control"/></p>
            <p>Password: <input type="password" th:field="*{password}" class="form-control"/></p>
            <p>Name: <input type="text" th:field="*{name}" class="form-control"/></p>
            <p>Account: <input type="text" th:field="*{account}" class="form-control"/></p>
            <p>Balance: <input type="text" th:field="*{balance}" class="form-control"/></p>
            <p>Birth: <input type="date" th:field="*{birth}" class="form-control"/></p>
            <p><select class="form-control" th:name="currency" th:field="*{currency}">
                <option value="">Select currency!</option>
                <option th:each="cur: ${T(com.meiit.webalk.aci3x3.Currency).values()}"
                        th:value="${cur}" th:text="${cur.toString()}"></option>
            </select></p>
            <!--<p>Currency: <input type="text" th:field="*{currency}" class="form-control"/></p>-->
            <p><input type="submit" value="Add new" class="btn btn-secondary"/></p>
        </form>
        <form action="/login" method="get">
            <input type="submit" value="Cancel" class="btn btn-secondary btn-lg"/>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>